<div class="main">
  <a href="/" class="backBtn">HOME</a>


  <div class="videoContainer">
    <div class="vidInstr">
      <p>CLICK POSTER TO WATCH TRAILER</p>
    </div>
    <video id="videoBox" width="600" height="400" controls preload="none">
            <source src="videos/5.mp4" type="video/mp4">
        </video>


  </div>

  {{#each videoData}}
    <div class="movs">
      <h4>{{ movie_title }}</h4>
      <div class="cover">
        <img id="{{movie_trailer}}" class="posters" width="175" src="{{ movie_cover }}" alt="{{movie_title}}" />
      </div>
      <div class="movInfo">
        <p>{{ movie_rating }}</p>
        <p class="desc">{{ movie_desc}}</p>
      </div>
    </div>
  {{/each}}

</div>
